/*
	信息列表样式
*/
.infoList .x-list-item {
	height : 5.1em;
}
.infoList .x-list-item .x-list-item-label {
	height : 5.1em;
}
.infoListImage {
	width : 4em;
	height : 4em;
	float : left;
}
.infoListTitle {
	text-align : center;
	font-size : 0.9em;
	line-height : 1.2em;
	height : 2.4em;
	padding-left : 0.9em;
	overflow : hidden;
}
.infoListData {
	text-align : center;
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}
.infoListPubliser {
	text-align : center;
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	信息详细视图样式
*/
.infoDetailTitle {	
   	text-align : center;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.2em;
}
.infoDetailDataTime {
	margin-top : 0.25em;
	margin-bottom : 0.25em;
   	text-align : center;
   	font-size : 0.9em;
}
.infoDetailContent {
    font-size : 1em;
	margin-top : 0.5em;
	line-height : 1.5em; 
}

/*
	导航列表样式
*/
.carouselList .x-list-item {
	height : 4em;
}
.carouselList .x-list-item .x-list-item-label {
	height : 4em;
}
.carouselList .x-list-disclosure {
	padding-bottom : 2.2em;
}
.carouselListImage {
	max-height : 3.2em;
	float : left;
}
.carouselListTexts {
	font-size : 1.2em;
	height : 3.2em; 
	line-height : 2.5em; 
	padding-left : 20px;
	overflow : hidden; 
}

/*
	导航栏侧边栏样式
*/
.carouselTitle {
	font-size : 1.2em;
   	text-align : center;
	color : #000000;
	padding-top : 0.5em;
	padding-bottom : 0em;	
}

/*
	广告栏样式
*/
.adCarousel {
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 2%;
	margin-bottom : 2%;
	border-radius : 0.3em;
	border-style : double;
	border-width : 0.3em;
	border-color : #FFFFFF;
}
.adCarousel .x-carousel-indicator-dark span {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.4);
}
.adCarousel .x-carousel-indicator-dark span.x-carousel-indicator-active {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.adImage {
	height : 100%;
	width : 100%;
}