/*
	天气样式
*/
.weatherImage {
	padding-top : 4%;
	padding-left : 3%;
	max-height : 80%;
	float : left;
}
.weatherTextLine {
	text-align : center;
	font-size : 1.3em;
	padding-top : 6%;
	color : pink;
	text-shadow : 1px 0px 0px #FFFFFF, 0px 1px 0px #FFFFFF, -1px 0px 0px #FFFFFF, 0px -1px 0px #FFFFFF;
}

/*
	广告栏样式
*/
.adCarousel .x-carousel-indicator-dark span {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.4);
}
.adCarousel .x-carousel-indicator-dark span.x-carousel-indicator-active {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.8);
}
.adImage {
	height : 100%;
	width : 100%;
}

/*
	导航列表样式
*/
.categoryContainer {
	padding-top : 2%;
}
.categoryItemContainer {
	padding-left : 2%;
	padding-right : 2%;
	padding-top : 2%;
}
.categoryTitle {
	float : bottom;
   	text-align : center;
	font-size : 0.9em;
	padding-top : 0.5em;
}
.categoryIcon {
	max-width : 67px;
	display : block;
	margin : auto;
}

/*
	子频道页面样式
*/
.childCategoryList .x-list-item {
	height : 4.4em;
}
.childCategoryList .x-list-item .x-list-item-label {
	height : 4.4em;
}
.childCategoryList .x-list-disclosure {
	padding-bottom : 2.4em;
	margin-right : 0.5em;
}
.childCategoryIcon {
	width : 3em;
	height : 3em;
	float : left;
}
.childCategoryTitle {
	font-size : 1.2em;
	padding-top : 0.7em;
	padding-left : 2.5em;
	overflow : hidden;
}

/*
	信息列表样式
*/
.infoList .x-list-item {
	height : 5.1em;
}
.infoList .x-list-item .x-list-item-label {
	height : 5.1em;
}
.infoListImage {
	width : 4em;
	height : 4em;
	float : left;
}
.infoListTitle {
	text-align : center;
	font-size : 0.9em;
	line-height : 1.2em;
	height : 2.4em;
	padding-left : 0.9em;
	overflow : hidden;
}
.infoListData {
	text-align : center;
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}
.infoListPubliser {
	text-align : center;
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	信息详细视图样式
*/
.infoDetailTitle {	
   	text-align : center;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.2em;
}
.infoDetailDataTime {
	margin-top : 0.25em;
	margin-bottom : 0.25em;
   	text-align : center;
   	font-size : 0.9em;
}
.infoDetailContent {
    font-size : 1em;
	margin-top : 0.5em;
	line-height : 1.5em; 
}
